
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;  */
}
.display-flex{
  display: flex;

}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
}
.header {
  background-color: #FF900E1A;
  padding: 20px 0;
  align-items: center;
 text-align: center;

}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.8ram;
}
.list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  color: #424242;
}
.list-item a {
  text-decoration: none;
  font-weight: 500;
  color: #424242;
}
.tex-and-img-content{
    max-width: 862px;
}
.tex-and-img-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #424242;
    margin-bottom: 20px;
}

.tex-and-img-content p {
  font-size: 1.2rem;
  color: #424242;
  line-height: 1.6;
}

.banar-img img {
  width: 100%;
  height: auto;
  margin: auto;
  
}

.praimary-btn{
    background-color: #FF900E;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    margin-bottom: 20px;
}

.praimary-btn{
    padding: 18px 24px;

}

.Features-arcitec-containre{
    justify-content: space-around;
    gap: 30px;
    margin-top: 95px;
    align-items: center;
}

.img-container{
    
    height: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}

.text-content-2{
}
.color-1{
    color:#727272
}
.color-2{
    color:#FF900E
}
.text-content-2 h2{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}
#p-tex{
    color: #727272;
    margin-bottom: 30px;
}

.Features-arcitec{
    justify-content: space-between;
    gap: 100px;
    margin-top: 95px;
}

.Features-arcitec-title h1
{
    font-size: 2.7rem;
    font-weight: 900;
    border-left: 3px solid #FF900E ;
    padding-left: 10px;
    max-width: 441px;
}
.Features-arcitec-title p{
    color: #727272;
}
.card{
    background-color: #fff;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.058) ;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    

}

.card h4{
    margin-top: 5px;
    margin-bottom:8px;
}

.card p{
    color: #727272;
    margin-top: 3px;
    margin-bottom: 0px;
}

.img-arcitec img{
    /* max-width: 100%;
    height: auto; */
}

#btn{
    font-size: 3.5rem;

}
#p-btn{
     padding: 30px 33px;
    box-sizing: border-box;
    margin-top: -120px;
    margin-left: -80px; 
}
.Some-Facts-container{
    margin-top: 95px;
}
.facts-title h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.facts-title p{
    color: #727272;
    max-width: 542px;
    margin-bottom: 80px;
}

.Facts-box{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* width: 169px; */
    text-align: center;
    align-items: center;
    
}

.box{
    border: 2px solid #FF900E;
    padding: 33px 33px;
    border-radius: 5px;


}
.box img {
    
    margin-bottom: 5px;
    
}
.box h3{
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #424242;

}
.box p{
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
.Sponspors-container{
    margin-top: 95px;
    text-align: center;
}

.Sponspors-container h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #131313;

}

.Sponspors-container p{
    color: #727272;
    margin-bottom: 50px;
    /* max-width: 542px; */
}

.sponspors-box{
    
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.sponspors-box img{
    color: #2EBD59
}
.footer{
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding: 20px 0;
    margin-top: 110px;
}
    

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .list-item {
        margin-right: 20;
        margin-bottom: 10px;
        text-align: center;
    }
    .tex-and-img-content h1 {
        font-size: 2.5rem;
    }
    .tex-and-img-content p {
        font-size: 1rem;
    }
    .Features-arcitec-containre {
        flex-direction: column;
        align-items: center;
    }
    .img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .Features-arcitec{
        flex-direction: column;
        margin: auto;

    }

    .img-arcitec img{
        max-width: 100%;
    }
    #p-btn{
        margin-top: 26px;
    margin-left: 26px; 
    }

    .Facts-box {
        flex-direction: column;
    }
    .box{
        width: 80%;
        margin-bottom: 20px;
    }

    .sponspors-box{
        flex-direction: column;
        align-items: center;
    }
    .sponspors-box img {
        max-width: 100%;
        margin-bottom: 55px;
    }

    .footer{
    padding: 20px 10px;
    max-width: 90%;
    margin-top: 20px;
}
    
}

@media screen  and (min-width: 576px) and (max-width: 1024px) {
    .Features-arcitec-containre, .Features-arcitec {
        flex-direction: column;
        align-items: center;
    }

    .Features-arcitec{
        margin: auto;
    } 
    .img-arcitec img{
        max-width: 100%;
        align-items: center;
    margin-left: 140px; 

    }

    #p-btn{
    margin-top: 45px;
    margin-left: 345px; 
    }
    .Facts-box {
        flex-direction: column;
        align-items: center;
        /* width: 80%;
        margin-bottom: 20px; */
    }
    .facts-title{
        text-align: center;
    }
    .facts-title p{
        max-width: 52%;
        margin: auto;
        margin-bottom: 25px;
    }
    .box {
        width: 70%;
        margin-bottom: 60px;
    }

    .sponspors-box {
        flex-direction: column;
        align-items: center;
    }

    .sponspors-box img {
        max-width: 100%;
        margin-bottom: 55px;
    }

     
}